<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilgangsbegrunnelse</title>
    <link href="../public/begrunnelse.css" th:href="@{/pensjon-app-gateway/public/begrunnelse.css}" rel="stylesheet" />
</head>
<body>
<form id="begrunnelseForm">
    <h2>Fyll ut begrunnelse for tilgang</h2>
    <p>
        Du ber om tilgang til et begrenset miljø. Du trenger å oppgi begrunnelse for tilgangen.
    </p>
    <label for="begrunnelse">Begrunnelse:</label><br>
    <textarea autofocus id="begrunnelse" name="begrunnelse" rows="4" cols="50" required></textarea><br><br>

    <label>
        <input type="checkbox" name="conditions" id="conditions" required>
        Jeg aksepterer at mine oppslag på personlige opplysninger blir loggført.
    </label>
    <br>
    <button type="submit">Send</button>
</form>
<script>
    document.getElementById("begrunnelseForm").addEventListener("submit", function (event) {
        try {
            event.preventDefault();

            const encoded = encodeURIComponent(document.getElementById("begrunnelse").value);
            document.cookie = `tilgang_begrunnelse=${encoded}; path=/`;

            const redirectUri = new URLSearchParams(window.location.search).get("redirect_uri");
            const relativeToCurrentOrigin = new URL(redirectUri, window.location.origin);

            // redirect to the originally requested page
            window.location.href = relativeToCurrentOrigin.toString();
        } catch (error) {
            console.error(error);
            alert("Det skjedde en feil - klarte ikke å sette begrunnelse.");
        }
    });
</script>
</body>
</html>
